<button class="btn btn-dark mt-2" ng-click="back()">Dark</button>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">{{photoDetails.title._content}}
        <span class="text-muted">
          by {{(photoDetails.owner.realname) ? photoDetails.owner.realname : photoDetails.owner.username}}
        </span>
    </h2>
  </div>
  <div class="col-md-7">
    <p>Published: {{photoDetails.dates.taken}} | Views: {{photoDetails.views}}</p>
    <p class="lead">{{photoDetails.description._content}}</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid" height="500" ng-src="{{ photoDetails.image }}"/>
  </div>
</div>
